body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image: url('pexels-albin-berlin-919073.jpg');
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 30px;
    padding: 20px;
}

.navbar-logo{
    padding: 0px;
    margin: 0px;
}

.navbar-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}

.logo-red{
    color: red;
}

.main-text{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.main-header{
    font-size: 100px;
    color: white;
    margin: 0px;
}

.main-button{
    border: none;
    border-radius: 35px;
    background: red;
    color: white;
    font-size: 25px;
    font-weight: 800;
    padding: 25px 50px;
    transition: all 1s;
}

.main-button:hover{
    background-color: white;
    color: red;
    transition: all 1s;
}