body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image: url('pexels-albin-berlin-919073.jpg');
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 30px;
    padding: 20px 50px;
}

.navbar-logo{
    padding: 0px;
    margin: 0px;
}

.navbar-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    font-size: 20px;
    
}

.navbar-menu a{
    color: white;
    text-decoration: none;
    transition: all 1s;
}

.navbar-menu a:hover{
    color: red;
    transform: scale(1.1);
    transition: all 1s;
}

.logo-red{
    color: red;
}

.main-text{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.main-header{
    font-size: 100px;
    color: white;
    margin: 0px;
}

.main-button{
    border: none;
    border-radius: 35px;
    background: red;
    color: white;
    font-size: 25px;
    font-weight: 800;
    padding: 25px 50px;
    transition: all 1s;
}

.main-button:hover{
    background-color: white;
    color: red;
    transition: all 1s;
}

.arrow-down{
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 70px;
    height: auto;
    transition: all 1s;
}

.arrow-down:hover{
    transform: scale(1.2);
    transition: all 1s;
}

.section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
}

.section-header h1{
    padding: 0px;
    margin: 0px;
    font-size: 50px;
}

.bx-car{
    color: black;
}

.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 100px;
}

.services-par p{
    max-width: 350px;
}

.about{
    padding-bottom: 100px;
    color: white;
    background-color: rgb(39, 39, 39);
}

.about-second{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about-picture{
    border-radius: 35px;
    width: 600px;
    height: auto;
}

.about-text{
    font-size: 20px;
    font-weight: 100;
    line-height: 1.8;
    max-width: 500px;
}

.about-button{
    border: none;
    border-radius: 15px;
    background: red;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding: 12px 25px;
    transition: all 1s;
}

.about-button:hover{
    background-color: white;
    color: red;
    transition: all 1s;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.form-header{
    margin: 20px;
    font-size: 50px;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.submit{
    width: 100%;
    border: none;
    border-radius: 15px;
    background: red;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding: 12px 25px;
    margin-top: 50px;
    transition: all 1s;
}

.submit:hover{
    color: red;
    background-color: white;
    border: 1px solid red;
    transition: all 1s;
}

.form-div{
    width: 500px;
}

.reviews{
    padding-bottom: 100px;
    padding-top: 50px;
    color: rgb(167, 167, 167);
    background-color: rgb(39, 39, 39);
}

.reviews-header{
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

.footer-menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-menu ul{
    list-style: none;
}